@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* CONTAINER */

#root {
  min-height: 100vh;
  background-color: #000;
}

.gd-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  background-color: #000;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.gd-container-game {
  position: relative;
  width: 1000px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
}

/* GARDEN */

.gd-garden {
  position: absolute;
  left: 21.2%;
  top: 14%;
  width: 606px;
  height: 405px;
  display: grid;
  grid-template-columns: repeat(9, auto);
}

.gd-garden-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #fff0;
  padding-bottom: 18px;
}

.gd-garden-image-blur {
  position: absolute;
  bottom: 0;
  opacity: 0.8;
}

.gd-garden-item-timer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
}

.gd-garden-item-timer.over-timer {
  color: #b10909fc;
  font-weight: 700;
}

.gd-garden-image {
  width: 56px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
}

.gd-garden-image img {
  max-width: 100%;
}

.gd-garden-image-coin {
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 17px;
  height: 17px;
  animation: coin-animation 4s linear infinite;
}

@keyframes coin-animation {
  0% {
    transform: rotateY(360deg);
  }
}

/* SEND BANK */

.gd-sendBank {
  position: absolute;
  padding: 12px;
  left: 30px;
}

.gd-sendBank-item {
  position: relative;
  width: 90px;
  margin-bottom: 3px;
  cursor: pointer;
}

.gd-sendBank-item:hover {
  transform: scale(1);
}

.gd-sendBank-item.active:hover {
  transform: scale(1.1);
}

.gd-sendBank-item-price {
  width: 20px;
  position: absolute;
  right: 15px;
  bottom: 3px;
  font-size: 12px;
}

.gd-sendBank-item img {
  width: 100%;
}

.gd-sendBank-item img:nth-child(1) {
  display: block;
}

.gd-sendBank-item img:nth-child(2) {
  display: none;
}

.gd-sendBank-item.active img:nth-child(1) {
  display: none;
}

.gd-sendBank-item.active img:nth-child(2) {
  display: block;
}

/* START */

.gd-start {
  position: absolute;
  left: 35%;
  cursor: pointer;
  z-index: 100;
}

.gd-start h2 {
  width: 200px;
  color: yellow;
  font-family: monospace;
  position: absolute;
  top: 10px;
  left: 100px;
  z-index: 10;
}

.gd-start img {
  position: absolute;
}

.gd-start img:nth-child(2) {
  top: -76px;
  z-index: 10;
}

.gd-start img:nth-child(3) {
  top: -22px;
}

.gd-start-ready {
  width: 400px;
  height: 200px;
  position: absolute;
  z-index: 50;
  background-image: url(../images/inf/StartSet.png);
  background-position: center center;
  background-repeat: no-repeat;
  animation: start-ready-animation 2s ease-in-out forwards;
}

@keyframes start-ready-animation {
  0% {
    background-image: url(../images/inf/StartSet.png);
  }
  50% {
    background-image: url(../images/inf/StartReady.png);
  }
  100% {
    background-image: url(../images/inf/StartPlant.png);
  }
}

/* COIN */

.gd-coinBank {
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: 128px;
  height: 31px;
  background-image: url(../images/inf/coinbank.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.gd-coinBank-val {
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: #01c301;
}

/* BANK */

.gd-bank {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 70px;
  height: 72px;
  background-image: url(../images/inf/bank.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.gd-bank-image {
  width: 60px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: auto;
}
