# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: Restore node_modules From Cache
      uses: actions/cache@v2
      with:
        path: |
            **/node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
    
    - name: Install Dependencies
      run: npm install --ignore-scripts
    
    - name: Upload Coverage
      uses: codecov/codecov-action@v1
    
    - name: Build Project
      run: npm run build --if-present
    
    - name: Deploy
      run: |
          git config --global user.name $user_name
          git config --global user.email $user_email
          git remote set-url origin https://${github_token}@github.com/${repository}
          npm run deploy
      env:
         user_name: "tronghieu60s"
         user_email: "tronghieu60s@gmail.com"
         github_token: ${{ secrets.ACTIONS_DEPLOY_ACCESS_TOKEN }}
         repository: ${{ github.repository }}
